PORT=4000
NODE_ENV=development
JWT_SECRET=o_zgartiring_juda_maxfiy_kalit_2026
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

DB_DIALECT=sqlite
SQLITE_PATH=./data/avtoassist.sqlite

DATABASE_URL=postgres://user:password@host:5432/avtoassist
DB_SSL=true

DEFAULT_LANGUAGE=uz

OTP_DEBUG_MODE=true
