# Flutter/Dart generatsiya fayllari
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android (generatsiya)
android/local.properties
android/.gradle/
android/captures/
android/app/src/main/java/
**/GeneratedPluginRegistrant.*

# iOS (generatsiya)
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

# Generatsiya qilingan lokalizatsiya (build vaqtida qayta yaratiladi)
lib/core/localization/arb/app_localizations*.dart

# Boshqa
*.log
.DS_Store
